.hero {
    background-color: #52708f;
    color: #fff;
    padding: 30px 30px;
    text-align: center;
    /* min-height: 734px 742; */
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-inner {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* height: auto; */
    /* height: 100%; */
    overflow: hidden;
    /* margin: auto; */
}

.hero h2 {
    margin-top: 0;
    font-weight: bold;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
    text-align: center;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-cta {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-cta:hover {
    background-color: #c0392b;
}

/* Pantallas pequeñas (teléfonos) */
@media (max-width: 768px) {
    .hero {
        padding: 20px 10px;
    }
    .hero-inner {
        padding: 10px;
    }
}

/* Pantallas medianas (tabletas) */
@media (max-width: 992px) {
    .hero {
        padding: 30px 20px;
    }
    .hero-inner {
        padding: 15px;
    }
}

/* Pantallas grandes (computadoras de escritorio) */
@media (min-width: 1200px) {
    /* No es necesario agregar nada aquí, ya que los estilos ya están funcionando bien */
}
